/*require todo_items
require todo_lists*/

@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.clear { clear: both; }

html{
	font-family: Poiret One;
	background: #232733;
	color: #E7E5D6;
}

div.alert {
	border: 2px solid #aaa;
	padding: 10px;
}

div.flash.success{
	border: 2px solid green;
	color: green;
}

div.flash.error{
	border: 2px solid red;
	color: red;
}

div.flash.notice {
	border: 2px solid blue;
	color: blue;
}

div.nav {
	border-bottom: 1px solid #E7E5D6;
	margin-bottom: 20px;
	padding: 10px 0 0 5px;
}

div.nav h1{
	text-align: center;
	margin: 0 1em 0 0;
}

div.nav a{
	text-decoration: none;
}
