/**= require todo_items
*= require todo_lists*/
@font-face{
	font-family: 'LeagueSpartan';
	src:font-url('LeagueSpartan-Bold.otf');
}


div.alert {
	border: 2px solid #aaa;
	padding: 10px;
}

div.flash.success{
	border: 2px solid green;
	color: green;
}

div.flash.error{
	border: 2px solid red;
	color: red;
}

div.flash.notice {
	border: 2px solid blue;
	color: blue;
}

.clear { clear: both; }

div.nav {
	border-bottom: 1px solid #aaa;
	margin-bottom: 20px;
	padding: 10px 0 0 5px;
}

div.nav h1{
	float: left;
	margin: 0 1em 0 0;
}

div.nav a { text-decoration: none !important;}

div.nav ul{
	float: left;
	list-style: none;
	clear: right;
	margin: 0 0 0 1em;
	padding: 0;
}

div.nav ul li{
	float: left;
}

div.nav ul li a{
	display: block;
	width: auto;
	padding: 8px 10px 8px 10px;
	background: #eee;
	color: #aaa;
}

div.nav ul li a:hover{
	background: #aaa;
	color: #eee;
}
